<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Flask</title>
    </head>
    <body>
        <!-- Hello, {{ Name }} ! This is  Flask World -->
        There are some boss in Flask like ...
        <ul>
            {% for All in DataEtudiant %}
                <li>{{ All.nom }}</li>
            {% endfor %}
        </ul>
    </body>
</html>